[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
peewee = ">=3.*.*"
docopt = "*"
requests = "*"
xlsxwriter = "*"

[requires]
python_version = "3.7"
