# Note that numbers are 0-indexed.

semester = 0
num_unique_days = 3
days_with_double_timeslots = [ 2 ]
num_timeslots = 24
max_lecture_capacity = 35
max_lab_capacity = 25
max_annual_teacher_load = 24
max_semestral_teacher_load = 12

num_generations = 100
num_offsprings_per_generation = 30
mutation_rate = 0.2
