[
  {
    "course_name": "CMSC 11",
    "division": "DNSM",
    "has_lab": true,
    "num_timeslots": 3,
    "num_lab_timeslots": 2,
    "prerequisites": [],
    "room_requirements": [ "Projector" ],
    "lab_requirements": [ "Computers" ]
  },
  {
    "course_name": "MATH 17",
    "division": "DNSM",
    "has_lab": false,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "prerequisites": [],
    "room_requirements": []
  },
  {
    "course_name": "COMM 1",
    "division": "DH",
    "has_lab": false,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "prerequisites": [],
    "room_requirements": []
  },
  {
    "course_name": "HIST 1",
    "division": "DSS",
    "has_lab": false,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "prerequisites": [],
    "room_requirements": []
  },
  {
    "course_name": "CMSC 22",
    "division": "DNSM",
    "has_lab": true,
    "num_timeslots": 3,
    "num_lab_timeslots": 2,
    "prerequisites": [ "CMSC 11" ],
    "room_requirements": [ "Projector" ],
    "lab_requirements": [ "Computers" ]
  },
  {
    "course_name": "MATH 54",
    "division": "DNSM",
    "has_lab": false,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "prerequisites": [ "MATH 17" ],
    "room_requirements": []
  },
  {
    "course_name": "PHYSICS 1",
    "division": "DNSM",
    "has_lab": true,
    "num_timeslots": 3,
    "num_lab_timeslots": 2,
    "prerequisites": [],
    "room_requirements": [ "Projector" ],
    "lab_requirements": [ "Physics Lab" ]
  }
]
