[
  {
    "course_name": "CMSC 11",
    "division": "DNSM",
    "has_lab": true,
    "num_timeslots": 3,
    "num_lab_timeslots": 2,
    "num_units": 3.0,
    "num_lab_units": 1.0,
    "prerequisites": [],
    "room_requirements": [ "Projector" ],
    "lab_requirements": [ "Computers" ],
    "candidate_teachers": [
      "Emmanuel",
      "Juan",
      "Pedro"
    ]
  },
  {
    "course_name": "MATH 17",
    "division": "DNSM",
    "has_lab": false,
    "num_units": 3.0,
    "num_lab_units": 0,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "prerequisites": [],
    "room_requirements": [],
    "candidate_teachers": [
      "Emmanuel",
      "Juan",
      "Pedro"
    ]
  },
  {
    "course_name": "COMM 1",
    "division": "DH",
    "has_lab": false,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "num_units": 3.0,
    "num_lab_units": 0,
    "prerequisites": [],
    "room_requirements": [],
    "candidate_teachers": [
      "Emmanuel",
      "Pedro",
      "Maria",
      "Bob"
    ]
  },
  {
    "course_name": "HIST 1",
    "division": "DSS",
    "has_lab": false,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "num_units": 3.0,
    "num_lab_units": 0,
    "prerequisites": [],
    "room_requirements": [],
    "candidate_teachers": [
      "Emmanuel",
      "Juan",
      "Pedro",
      "Maria",
      "Josephine"
    ]
  },
  {
    "course_name": "CMSC 22",
    "division": "DNSM",
    "has_lab": true,
    "num_timeslots": 3,
    "num_lab_timeslots": 2,
    "num_units": 3.0,
    "num_lab_units": 1.0,
    "prerequisites": [ "CMSC 11" ],
    "room_requirements": [ "Projector" ],
    "lab_requirements": [ "Computers" ],
    "candidate_teachers": [
      "Juan",
      "Pedro",
      "Maria",
      "Bob"
    ]
  },
  {
    "course_name": "MATH 54",
    "division": "DNSM",
    "has_lab": false,
    "num_timeslots": 3,
    "num_lab_timeslots": 0,
    "num_units": 3.0,
    "num_lab_units": 0,
    "prerequisites": [ "MATH 17" ],
    "room_requirements": [],
    "candidate_teachers": [
      "Juan",
      "Pedro",
      "Maria",
      "Josephine"
    ]
  },
  {
    "course_name": "PHYSICS 1",
    "division": "DNSM",
    "has_lab": true,
    "num_timeslots": 3,
    "num_lab_timeslots": 2,
    "num_units": 3.0,
    "num_lab_units": 1.0,
    "prerequisites": [],
    "room_requirements": [ "Projector" ],
    "lab_requirements": [ "Physics Lab" ],
    "candidate_teachers": [
      "Emmanuel",
      "Juan",
      "Maria",
      "Josephine",
      "Bob"
    ]
  }
]
