// DO NOT INCLUDE THE COMMENT BELOW WHEN USING THIS FILE.
// Numbers are 0-indexed.

[
  {
    "division_name": "DNSM",
    "degrees": [
      {
        "degree_name": "BSCS",
        "plans": [
          {
            "year_level": 0,
            "semester": 0,
            "courses": [ "CMSC 11", "MATH 17" ]
          },
          {
            "year_level": 1,
            "semester": 0,
            "courses": [ "CMSC 22", "MATH 54", "PHYSICS 1" ]
          }
        ]
      }
    ]
  }
]
