# When running the project, do not forget to rename this file to db.env. Note
# that there is no support yet for running arbitrary commands inside variable
# values when reading the variables in manage.py.
POSTGRES_DB=<app's database's name>
POSTGRES_USER=<app's database user>
POSTGRES_PASSWORD=<app's database user's password>
